%footer.footer
  .footer--top.py-3
    .container
      .row
        .col-md-3
          %h4 About
          %ul.list-unstyled
            %li
              = link_to('Al Kader Shriners',
                        about_path(trailing_slash: true),
                        class: 'text-white')
            %li
              = link_to('Shriners International',
                        shriners_international_path(trailing_slash: true),
                        class: 'text-white')
        .col-md-3
          %h4 Charity
          %ul.list-unstyled
            %li
              = link_to('Shriners Hospitals for Children',
                        charity_path(trailing_slash: true),
                        class: 'text-white')
        .col-md-3
          %h4 Membership
          %ul.list-unstyled
            %li
              = link_to('Becoming a Shriner',
                        membership_path(trailing_slash: true),
                        class: 'text-white')
        .col-md-3
          %h4 Resources
          %ul.list-unstyled
            %li
              = link_to('Privacy Policy',
                        privacy_path(trailing_slash: true),
                        class: 'text-white')
  .footer--bottom.py-5
    .container
      .row
        .col-md-12.text-center
          %h4 Al Kader Shriners
          %p
            25100 SW Parkway Avenue
            %br/
            Wilsonville, OR 97070-9600
          %p
            phone: 503-682-4420 | fax: 503-685-508
          %span.small
            = render 'shared/copyright_notice'
