%header
  .masthead
    .container
      %nav.nav
        = link_to('Be a Shriner',
                  'https://www.beashrinernow.com',
                  class: 'nav-link pl-0',
                  target: '_blank')
        %span.nav-link.mx-0.px-0
          |
        = link_to('Our Hospital',
                  'https://www.shrinershospitalsforchildren.org/portland',
                  class: 'nav-link',
                  target: '_blank')

  .masthead.masthead--brand
    .container.py-3
      .row
        .col-6.mx-auto
          = link_to root_path, class: 'brand', title: 'Al Kader Logo' do
            = image_tag('logo.png', alt: 'Al Kader logo', class: 'brand-logo')
  %nav.navbar.navbar-expand-md
    .container
      = button_tag(class: 'navbar-toggler text-danger pl-0',
        type: 'button',
        data: { toggle: 'collapse', target: '#primaryNav' },
        'aria-controls' => 'primaryNav',
        'aria-expanded' => 'false',
        'aria-label' => 'Toggle navigation') do
        %i.fa.fa-bars
        Menu

      #primaryNav.navbar-collapse.collapse
        %ul.navbar-nav.flex-fill.justify-content-between
          %li.nav-item.btn-group.dropdown
            = link_to('About',
                      about_path(trailing_slash: true),
                      class: 'nav-link',
                      role: 'button')
            = button_tag(id: 'ddAbout',
                         class: 'btn dropdown-toggle dropdown-toggle-split',
                         aria: { expanded: false, haspopup: true },
                         data: { toggle: 'dropdown' },
                         role: 'button') do
              %span.sr-only Toggle Dropdown
            .dropdown-menu{'aria-lebelledby' => 'ddAbout'}
              = link_to 'Link 1', '#', class: 'dropdown-item'
              = link_to 'Link 2', '#', class: 'dropdown-item'
          %li.nav-item.btn-group.dropdown
            = link_to('Charity',
                      charity_path(trailing_slash: true),
                      class: 'nav-link',
                      role: 'button')
            = button_tag(id: 'ddCharity',
                         class: 'btn dropdown-toggle dropdown-toggle-split',
                         aria: { expanded: false, haspopup: true },
                         data: { toggle: 'dropdown' },
                         role: 'button') do
              %span.sr-only Toggle Dropdown
            .dropdown-menu{ 'aria-lebelledby' => 'ddCharity'}
              = link_to 'Link 1', '#', class: 'dropdown-item'
              = link_to 'Link 2', '#', class: 'dropdown-item'
          %li.nav-item.btn-group.dropdown
            = link_to('Membership',
                      membership_path(trailing_slash: true),
                      class: 'nav-link',
                      role: 'button')
            = button_tag(id: 'ddMembership',
                         class: 'btn dropdown-toggle dropdown-toggle-split',
                         aria: { expanded: false, haspopup: true },
                         data: { toggle: 'dropdown' },
                         role: 'button') do
              %span.sr-only Toggle Dropdown
            .dropdown-menu{ 'aria-lebelledby' => 'ddMembership'}
              = link_to 'Link 1', '#', class: 'dropdown-item'
              = link_to 'Link 2', '#', class: 'dropdown-item'
          %li.nav-item
            = link_to('Events', events_path(trailing_slash: true), class: 'nav-link')
          %li.nav-item
            = link_to('Facility Rental',
                      facility_rental_path(trailing_slash: true),
                      class: 'nav-link')
          %li.nav-item.btn-group.dropdown
            = link_to('News & Updates',
                      news_updates_path(trailing_slash: true),
                      class: 'nav-link',
                      role: 'button')
            = button_tag(id: 'ddNews',
                         class: 'btn dropdown-toggle dropdown-toggle-split',
                         aria: { expanded: false, haspopup: true },
                         data: { toggle: 'dropdown' },
                         role: 'button') do
              %span.sr-only Toggle Dropdown
            .dropdown-menu{ 'aria-lebelledby' => 'ddNews'}
              = link_to 'Link 1', '#', class: 'dropdown-item'
              = link_to 'Link 2', '#', class: 'dropdown-item'
          %li.nav-item
            = link_to('Contact', contact_path(trailing_slash: true), class: 'nav-link')
