- content_for :title, 'Oasis'

.py-4.border-top.border-medium
  .container
    .row.pt-3
      .col-12.d-md-flex.justify-content-md-between
        %h1.text-danger.pb-3 The Oasis Newsletter
        = render partial: 'shared/oasis_archive_dropdown'
    .row.py-3.mb-3
      .col-md-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center November 2020
          .card-body
            = image_tag('card_oasis_2020_11.jpg',
                        alt: 'Oasis Cover - 2020-11',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_11.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-8
        %h2.mb-4.text-danger History of the Oasis
        %p
          The Al Kader "Oasis" began as the newsletter of the temple and was soon a monthly
          publication distributed throughout Al Kader's nobility and the other Shrine Centers of
          the Pacific Northwest.
        %p
          Today, it is also published on the Al Kader website.

    .row.border-top.border-medium
    .row.pb-3.mt-2
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center January 2020
          .card-body
            = image_tag('card_oasis_2020_01.jpg',
                        alt: 'Oasis Cover - 2020-01',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_01.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center February 2020
          .card-body
            = image_tag('card_oasis_2020_02.jpg',
                        alt: 'Oasis Cover - 2020-02',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_02.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center March 2020
          .card-body
            = image_tag('card_oasis_2020_03.jpg',
                        alt: 'Oasis Cover - 2020-03',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_03.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center April 2020
          .card-body
            = image_tag('card_oasis_2020_04.jpg',
                        alt: 'Oasis Cover - 2020-04',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_04.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center May 2020
          .card-body
            = image_tag('card_oasis_2020_05.jpg',
                        alt: 'Oasis Cover - 2020-05',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_05.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center June 2020
          .card-body
            = image_tag('card_oasis_2020_06.jpg',
                        alt: 'Oasis Cover - 2020-06',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_06.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center July 2020
          .card-body
            = image_tag('card_oasis_2020_07.jpg',
                        alt: 'Oasis Cover - 2020-07',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_07.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center August 2020
          .card-body
            = image_tag('card_oasis_2020_08.jpg',
                        alt: 'Oasis Cover - 2020-08',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_08.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center September 2020
          .card-body
            = image_tag('card_oasis_2020_09.jpg',
                        alt: 'Oasis Cover - 2020-09',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_09.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center October 2020
          .card-body
            = image_tag('card_oasis_2020_10.jpg',
                        alt: 'Oasis Cover - 2020-10',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2020_10.pdf',
              class: 'btn btn-block btn-outline-danger')
