- content_for :title, '2019 Oasis Newsletters'

.py-4.border-top.border-medium
  .container
    .row.pb-3
      .col-12.d-md-flex.justify-content-md-between
        %h1.text-danger 2019 Oasis
        = render partial: 'shared/oasis_archive_dropdown'
    .row.border-top.border-medium
    .row.pb-3.mt-2
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center January 2019
          .card-body
            = image_tag('card_oasis_2019_01.jpg',
                        alt: 'Oasis Cover - 2019-01',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_01.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center February 2019
          .card-body
            = image_tag('card_oasis_2019_02.jpg',
                        alt: 'Oasis Cover - 2019-02',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_02.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center March 2019
          .card-body
            = image_tag('card_oasis_2019_03.jpg',
                        alt: 'Oasis Cover - 2019-03',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_03.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center April 2019
          .card-body
            = image_tag('card_oasis_2019_04.jpg',
                        alt: 'Oasis Cover - 2019-04',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_04.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center May 2019
          .card-body
            = image_tag('card_oasis_2019_05.jpg',
                        alt: 'Oasis Cover - 2019-05',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_05.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center June 2019
          .card-body
            = image_tag('card_oasis_2019_06.jpg',
                        alt: 'Oasis Cover - 2019-06',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_06.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center July 2019
          .card-body
            = image_tag('card_oasis_2019_07.jpg',
                        alt: 'Oasis Cover - 2019-07',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_07.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center August 2019
          .card-body
            = image_tag('card_oasis_2019_08.jpg',
                        alt: 'Oasis Cover - 2019-08',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_08.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center September 2019
          .card-body
            = image_tag('card_oasis_2019_09.jpg',
                        alt: 'Oasis Cover - 2019-09',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_09.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center October 2019
          .card-body
            = image_tag('card_oasis_2019_10.jpg',
                        alt: 'Oasis Cover - 2019-10',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_10.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center November 2019
          .card-body
            = image_tag('card_oasis_2019_11.jpg',
                        alt: 'Oasis Cover - 2019-11',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_11.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center December 2019
          .card-body
            = image_tag('card_oasis_2019_12.jpg',
                        alt: 'Oasis Cover - 2019-12',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2019_12.pdf',
              class: 'btn btn-block btn-outline-danger')
