- content_for :title, '2018 Oasis Newsletters'

.py-4.border-top.border-medium
  .container
    .row.pb-3
      .col-12.d-md-flex.justify-content-md-between
        %h1.text-danger 2018 Oasis
        = render partial: 'shared/oasis_archive_dropdown'
    .row.border-top.border-medium
    .row.pb-3.mt-2
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center January 2018
          .card-body
            = image_tag('card_oasis_2018_01.jpg',
                        alt: 'Oasis Cover - 2018-01',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_01.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center February 2018
          .card-body
            = image_tag('card_oasis_2018_02.jpg',
                        alt: 'Oasis Cover - 2018-02',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_02.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center March 2018
          .card-body
            = image_tag('card_oasis_2018_03.jpg',
                        alt: 'Oasis Cover - 2018-03',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_03.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center April 2018
          .card-body
            = image_tag('card_oasis_2018_04.jpg',
                        alt: 'Oasis Cover - 2018-04',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_04.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center May 2018
          .card-body
            = image_tag('card_oasis_2018_05.jpg',
                        alt: 'Oasis Cover - 2018-05',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_05.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center June 2018
          .card-body
            = image_tag('card_oasis_2018_06.jpg',
                        alt: 'Oasis Cover - 2018-06',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_06.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center July 2018
          .card-body
            = image_tag('card_oasis_2018_07.jpg',
                        alt: 'Oasis Cover - 2018-07',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_07.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center August 2018
          .card-body
            = image_tag('card_oasis_2018_08.jpg',
                        alt: 'Oasis Cover - 2018-08',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_08.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center September 2018
          .card-body
            = image_tag('card_oasis_2018_09.jpg',
                        alt: 'Oasis Cover - 2018-09',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_09.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center October 2018
          .card-body
            = image_tag('card_oasis_2018_10.jpg',
                        alt: 'Oasis Cover - 2018-10',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_10.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center November 2018
          .card-body
            = image_tag('card_oasis_2018_11.jpg',
                        alt: 'Oasis Cover - 2018-11',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_11.pdf',
              class: 'btn btn-block btn-outline-danger')
      .col-md-3.pt-4
        .card.bg-light
          .card-header
            %h3.h4.my-0.text-danger.text-center December 2018
          .card-body
            = image_tag('card_oasis_2018_12.jpg',
                        alt: 'Oasis Cover - 2018-12',
                        class: 'img-fluid border border-primary')
          .card-footer
            = link_to('Download',
              '/oasis/oasis_2018_12.pdf',
              class: 'btn btn-block btn-outline-danger')
