- content_for :title, 'Shriners International'

.hero
  = image_tag('hero_shriners_international.jpg',
              alt: 'Shriners Internation Headquarters',
              class: 'img-fluid')
  .hero__lead-container
    .container
      .text-center.py-3
        %h1.pb-0.text-white Shriners International

.py-4
  .container
    .row
      .col
        %h2.text-danger.pb-3 Shriners International
        %h3.text-danger.pb-2 History of Shriners
        %figure.figure.float-right.w-50.w-md-25.pl-3
          = image_tag('si_walter_fleming.jpg',
                      alt: 'Walter Fleming',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            Walter Fleming
        %figure.figure.float-right.w-50.w-md-25.pl-3
          = image_tag('si_william_florence.jpg',
                      alt: 'William Florence',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            William Florence
        %p
          In 1870, a group of Masons gathered frequently for lunch at the Knickerbocker Cottage on
          Sixth Avenue in New York City. At a special table on the second floor, a particularly
          fun-loving group of men met regularly. Among the regulars were Walter M. Fleming, M.D.
          and William J. “Billy” Florence, an actor. The group frequently talked about starting a
          new fraternity for Masons – one centered on fun and fellowship, more than ritual. Fleming
          and Florence took this idea seriously enough to do something about it.
        %p
          Billy Florence had been on tour in France, and had been invited to a party given by an
          Arabian diplomat. The exotic style, flavors and music of the Arabian-themed party
          inspired him to suggest this as a theme for the new fraternity. Walter Fleming, a devoted
          fraternity brother, built on Fleming’s ideas and used his knowledge of fraternal ritual
          to transform the Arabian theme into the Ancient Arabic Order of the Nobles of the Mystic
          Shrine (A.A.O.N.M.S.).
        %figure.figure.float-left.w-50.w-md-25.pr-3
          = image_tag('si_knickerbocker_cottage.jpg',
                      alt: 'Knickerbocker Cottage',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            Knickerbocker Cottage
        %p
          With the help of the Knickerbocker Cottage regulars, Fleming drafted the ritual, designed
          the emblem and costumes, formulated a salutation, and declared that members would wear
          the red fez.
        %p
          The first meeting of Mecca Shriners, the first temple (chapter) established in the United
          States, was held September 26, 1872. As word got out about the fledgling organization,
          membership grew rapidly, spreading across the U.S. In the early 1900s, membership spread
          into Canada, Mexico, and Panama. Today, Shriners International is a fraternity with
          nearly 200 temples in several countries, thousands of clubs around the world and hundreds
          of thousands of members dedicated to the principles of brotherly love, relief, and truth.
        %h3.text-danger.pb-2 The Fez
        %p
          The fez is one of the most recognizable symbols of Shriners International and was adopted
          as the Shriners' official headgear in 1872. Named after the city of Fez, Morocco, the hat
          represented the Arabian theme the fraternity was founded on. It also serves as an outward
          symbol of one's membership in the fraternity. Much like the white apron worn by Masons as
          a symbol of their brotherhood, the fez is worn only by Shriners as a symbol of their
          membership in this unique fraternity.
        %p
          Today the fez is worn at Shriners' functions, in parades, and at outings as a way of
          gaining exposure for the fraternity. Members customize their fez to show their allegiance
          to their temple. Look closely at a fez and you will also learn other important
          information about its wearer, such as membership in Shrine clubs, special roles within
          the organization, and much more. Each fez is custom made and a Shriner may own more than
          one fez depending on his activities and memberships.
        %h3.text-danger.pb-2 The Shriner's Emblem
        %figure.figure.float-right.w-50.w-md-25.pl-3
          = image_tag('si_shriners_emblem.jpg',
                      alt: 'Shriners Emblem',
                      class: 'img-fluid')
        %p
          The emblem on the front of the fez, the crescent and scimitar, is an important part of
          the fraternity's theme, and is representative of the characteristics embodied by the
          Shriners.
        %ul
          %li The scimitar stands for the backbone of the fraternity, its members.
          %li The two claws are for the Shriners fraternity and its philanthropy.
          %li The sphinx stands for the governing body of the Shriners.
          %li
            The five-pointed star represents the thousands of children helped by the philanthropy
            each year.
          %li The emblem also bears the phrase "Robur et Furor,” which means "Strength and Fury.”

